.form-container{
    width: 500px;
    margin: 40px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.form-control{
    margin-bottom: 10px;
}
.form-control label{
    display: block;
}

.form-control input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}
.button-style{
    margin-top: 10px;
    width: 415px;
    height: 55px;
    border: none;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
}
.button-style:hover{
    background-color: rgba(255, 153, 0, 0.6); 
}